:root {
    --accent-color: #0069D9;
    --accent-light: #5eaaa8;
    --main-bg-color: #d0e9e5;
    --old-color: hsla(171, 42%, 94%, 0.774);

}

/* 
    #0069D9
     --accent-color: #34495E;
 */


/* generic classes */
a:hover {
    text-decoration: none;
    
}

/* fecthing table
.page-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);

    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}
.page-cover-content {
    width: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    
} */

html,body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;

}

html {
    position: relative;
}


body {
    background-color: var(--old-color);
    width: 100vw;
    
}

#message-box{
  width: 50%;
  margin:15px auto ;
}

/* load wallet card */
.load-wallet-card {
    background-color: rgb(52, 73, 94);
    
}

.rline-height {
    height: 0.5px
}

.center {

    display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon {
    width: 100%;
    
}

.my-navbar {  
    width: 100%;
    background-color: #0069D9;
}

/* shopping chart buttons */
#clear_btn {
    background-color: var(--accent-color);
}
#clear_btn:hover {
    background-color: #BD2130;
}

#checkout_btn {
    background-color: var(--accent-color);
    border-left: 1px solid wheat;
}
#checkout_btn:hover {
    background-color: #1e7e34;
}

.user-img {
    
    height: 100px;
    max-width: 500px;
    
}

.add-fun {
    margin-bottom: 0;
    padding: 0px;
    background-color: #d0e9e5;
    overflow: auto;
  }

h4 {
    color: var(--accent-color);
}

#info-box {
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#info-content {
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    height: 90%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
}

#ttable {
    
    overflow: scroll;
        
}

#myTable {
    overflow: hidden;
    
    
}

.section-title {
    margin: 0, auto;
}

th {
    background-color: var(--accent-color);
    color: white;
}


.account-info {
  background-color: var(--accent-color);
}

.account-info p {
  color: white;
}

form {
  color : #fff;
}

.transfer-button:hover {
  background-color: var(--accent-light);
}

.loading-gif-container img{
    height: 50px;
    margin-bottom: 10px;
}
